* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.brand{
    color: rgb(255, 255, 255);
}

.navbar{
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #550c0c;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}
.navbar a {
    display: flex;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}
.navbar ul li {
    display: inline-block;

}
.navbar a:hover {
    background-color: #111;
}